@import "intro";
@import "estructura-general";
@import "menu";

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h2 {
        font-weight: 600;
    }
}