@import "intro";
@import "estructura-general";
@import "menu";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h2 {
        font-weight: 600;
    }
}

//Video Background
.video-fixed {
    height: 167.1vh;
    margin: 0;
    padding: 0;
    background-position: 0;
    background-size: cover; }
  
  .video-background {
   width: 100%; }